Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops, @jdetter

do with_label_values less and report tx metric after releasing lock
  crates/core/src/client/client_connection.rs
  crates/core/src/client/message_handlers.rs
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
  crates/core/src/db/datastore/system_tables.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/estimation.rs
  crates/core/src/execution_context.rs
  crates/core/src/host/host_controller.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/host/module_host.rs
  crates/core/src/host/wasm_common/module_host_actor.rs
  crates/core/src/replica_context.rs
  crates/core/src/sql/compiler.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/mod.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/subscription/query.rs
  crates/core/src/subscription/subscription.rs
  crates/core/src/util/slow.rs
  crates/core/src/vm.rs
  crates/core/src/worker_metrics/mod.rs
  crates/lib/src/metrics.rs
  crates/sdk/src/websocket.rs
  crates/sqltest/src/space.rs
  crates/table/src/table.rs
Owners: @cloutiertyler

address Phoebe's review re. doc comments
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
  crates/core/src/db/datastore/traits.rs
  crates/table/src/table.rs
Owners: @cloutiertyler

expose TxMetrics reporting functions for cutlery
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/subscription/mod.rs
Owners: none

Cache `with_label_values` more & don't do metrics while holding lock (#2734)
  crates/core/src/client/client_connection.rs
  crates/core/src/client/message_handlers.rs
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
  crates/core/src/db/datastore/system_tables.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/estimation.rs
  crates/core/src/execution_context.rs
  crates/core/src/host/host_controller.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/host/module_host.rs
  crates/core/src/host/wasm_common/module_host_actor.rs
  crates/core/src/sql/compiler.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/mod.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/subscription/query.rs
  crates/core/src/subscription/subscription.rs
  crates/core/src/util/slow.rs
  crates/core/src/vm.rs
  crates/core/src/worker_metrics/mod.rs
  crates/lib/src/metrics.rs
  crates/sdk/src/websocket.rs
  crates/sqltest/src/space.rs
  crates/table/src/table.rs
Owners: @cloutiertyler

Less granular message queue length metrics
  crates/client-api/src/routes/subscribe.rs
  crates/core/src/client/client_connection.rs
  crates/core/src/worker_metrics/mod.rs
Owners: none

datastore: apply schema changes immediately to committed state.
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/sequence.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx_state.rs
  crates/core/src/vm.rs
  crates/sats/src/product_value.rs
  crates/schema/src/schema.rs
  crates/table/src/table.rs
  crates/table/src/table_index/mod.rs
  crates/table/src/table_index/unique_direct_fixed_cap_index.rs
  crates/table/src/table_index/unique_direct_index.rs
  crates/table/src/table_index/uniquemap.rs
Owners: none

MutTxId: fix oops and UB
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
Owners: none

harden tests for drop/create table transactionality
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/sequence.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx_state.rs
Owners: none

Add tests to ensure transactionality of drop/create table
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
Owners: none

debug assert row presence in RowRef::new & delete_internal_skip_pointer_map
  crates/table/src/table.rs
Owners: none

datastore: improve transactionality tests, simplify tests and add test_create_drop_sequence_transactionality
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/sequence.rs
  crates/core/src/db/relational_db.rs
  crates/schema/src/def.rs
  crates/schema/src/schema.rs
Owners: none

address phoebe's review
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
Owners: none

datastore: apply schema changes immediately to committed state. (#2685)
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/sequence.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx_state.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/vm.rs
  crates/sats/src/product_value.rs
  crates/schema/src/def.rs
  crates/schema/src/schema.rs
  crates/table/src/table.rs
  crates/table/src/table_index/mod.rs
  crates/table/src/table_index/unique_direct_fixed_cap_index.rs
  crates/table/src/table_index/unique_direct_index.rs
  crates/table/src/table_index/uniquemap.rs
Owners: none

[tyler/fix-rename]: works?
  crates/cli/src/subcommands/dns.rs
Owners: @bfops, @cloutiertyler, @jdetter

[tyler/fix-rename]: augment smoketest
  smoketests/tests/domains.py
Owners: none

Update snap
  crates/codegen/tests/snapshots/codegen__codegen_typescript.snap
Owners: none

Fix TypeScript imports codegen (#2747)
  crates/codegen/src/typescript.rs
  crates/codegen/tests/snapshots/codegen__codegen_typescript.snap
Owners: none

[tyler/fix-rename]: tweak error string
  crates/cli/src/subcommands/dns.rs
Owners: @bfops, @cloutiertyler, @jdetter

[tyler/fix-rename]: tweak msg
  crates/cli/src/subcommands/dns.rs
Owners: @bfops, @cloutiertyler, @jdetter

Bump versions to 1.1.5 (#320)
  sdks/csharp/SpacetimeDB.ClientSDK.csproj
  sdks/csharp/package.json
Owners: none

Bump versions to 1.1.5 (#320)
  SpacetimeDB.ClientSDK.csproj
  package.json
Owners: none

Make connection metrics keyed on database identity, not replica ID
  crates/core/src/client/client_connection.rs
  crates/core/src/client/message_handlers.rs
  crates/core/src/worker_metrics/mod.rs
Owners: none

[bfops/player-move-bench]: WIP
  modules/benchmarks/src/player_move.rs
Owners: none

[bfops/player-move-bench]: whitespace
  modules/benchmarks/src/player_move.rs
Owners: none

[bfops/bump-version]: Bump version to 1.1.2
  Cargo.lock
  Cargo.toml
  LICENSE.txt
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @cloutiertyler, @bfops, @jdetter

Fixed compile errors and warnings on Windows
  crates/bench/benches/generic.rs
  crates/bench/benches/special.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/worker_metrics/mod.rs
  crates/paths/src/lib.rs
  crates/update/src/proxy.rs
Owners: none

fix lint hopefully
  crates/paths/src/lib.rs
Owners: none

Make connection metrics keyed on database identity, not replica ID (#2765)
  crates/core/src/client/client_connection.rs
  crates/core/src/client/message_handlers.rs
  crates/core/src/worker_metrics/mod.rs
Owners: none

fix lint
  crates/paths/src/lib.rs
Owners: none

lint
  crates/paths/src/lib.rs
Owners: none

Lawdy
  crates/paths/src/lib.rs
Owners: none

Fixed compile errors and warnings on Windows (#2646)
  crates/bench/benches/generic.rs
  crates/bench/benches/special.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/worker_metrics/mod.rs
  crates/paths/src/lib.rs
  crates/update/src/proxy.rs
Owners: none

Adds perf and Tracy test configurations and a scripts to toggle them
  crates/standalone/Cargo.toml-TracyConfig
  crates/standalone/Dockerfile-PerfConfig
  crates/standalone/config.toml-TracyConfig
  docker-compose.yml-PerfConfig
  docker-compose.yml-TracyConfig
  tools/set-perf-config.sh
  tools/set-tracy-config.sh
Owners: none

Add an internal endpoint to view the set of active subscriptions.
  crates/client-api/src/routes/database.rs
  crates/client-api/src/routes/internal.rs
  crates/core/src/subscription/execution_unit.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

Re-enable page bool with default size of 128 pages
  crates/table/src/page_pool.rs
Owners: none

Build indexes over TxData for subscription eval
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/subscription/query.rs
  crates/core/src/subscription/tx.rs
  crates/execution/src/lib.rs
  crates/execution/src/pipelined.rs
  crates/physical-plan/src/plan.rs
  crates/physical-plan/src/rules.rs
  crates/subscription/src/lib.rs
Owners: @cloutiertyler

core types
  crates/bindings-go/cmd/spacetimedb/main.go
  crates/bindings-go/internal/db/db.go
  crates/bindings-go/internal/runtime/runtime.go
  crates/bindings-go/internal/wasm/fixtures/add.c
  crates/bindings-go/internal/wasm/fixtures/add.wasm
  crates/bindings-go/internal/wasm/fixtures/get_buffer_ptr.c
  crates/bindings-go/internal/wasm/fixtures/get_buffer_ptr.wasm
  crates/bindings-go/internal/wasm/spacetime.go
  crates/bindings-go/internal/wasm/wasm.go
  crates/bindings-go/internal/wasm/wasm_test.go
  crates/bindings-go/pkg/spacetimedb/client.go
  crates/bindings-go/pkg/spacetimedb/types.go
  crates/bindings-go/tests/core_types_test.go
Owners: none

bsatn implementation
  crates/bindings-go/internal/bsatn/constants.go
  crates/bindings-go/internal/bsatn/decode.go
  crates/bindings-go/internal/bsatn/encode.go
  crates/bindings-go/internal/bsatn/encode_test.go
  crates/bindings-go/internal/bsatn/enum.go
  crates/bindings-go/internal/bsatn/errors.go
  crates/bindings-go/internal/bsatn/struct.go
  crates/bindings-go/internal/bsatn/types.go
  crates/bindings-go/internal/bsatn/types_test.go
  crates/bindings-go/internal/db/db.go
  crates/bindings-go/internal/runtime/runtime.go
  crates/bindings-go/spacetimedb/bsatn/bsatn.go
  crates/bindings-go/spacetimedb/bsatn/bsatn_test.go
  crates/bindings-go/spacetimedb/db/db.go
  crates/bindings-go/spacetimedb/db/db_test.go
Owners: none

Bump version to 1.1.2 (#2767)
  Cargo.lock
  Cargo.toml
  LICENSE.txt
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @cloutiertyler, @bfops, @jdetter

empty offset indexx handle 0 key
  crates/commitlog/Cargo.toml
  crates/commitlog/src/index/indexfile.rs
  crates/commitlog/src/segment.rs
Owners: none

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler @jdetter

/crates/sdk/examples/quickstart-chat/ @gefjon
/modules/quickstart-chat/ @gefjon
