Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops, @jdetter

Pin db threads to cores
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/host/host_controller.rs
  crates/core/src/host/module_host.rs
  crates/core/src/startup.rs
  crates/core/src/subscription/subscription.rs
  crates/standalone/src/lib.rs
  crates/standalone/src/main.rs
  crates/standalone/src/subcommands/start.rs
  crates/testing/src/modules.rs
Owners: none

fix compile
  crates/sqltest/src/space.rs
  crates/subscription/src/lib.rs
Owners: none

Page::reset_for: stop zeroing pages for the time being
  crates/table/src/page.rs
Owners: none

Address Mazdak's review
  crates/client-api-messages/src/websocket.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/execution_unit.rs
  crates/core/src/subscription/mod.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/sqltest/src/space.rs
Owners: @centril, @gefjon

`Page::reset_for`: stop zeroing pages (#2804)
  crates/table/src/page.rs
Owners: none

TableSchema::valiated: don't needlessly allocate
  crates/schema/src/schema.rs
Owners: none

MutTxId::create_index: consider rows deleted in commit state + fix panic when making violation error
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/table/src/table.rs
  crates/table/src/table_index/mod.rs
  crates/table/src/table_index/unique_direct_fixed_cap_index.rs
  crates/table/src/table_index/unique_direct_index.rs
  crates/table/src/table_index/uniquemap.rs
Owners: none

Keep tokio runtimes alive in tests to avoid task cancelation
  crates/core/src/host/instance_env.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/sqltest/src/space.rs
Owners: none

remove typo
  crates/table/src/table.rs
Owners: none

Remove forgotten debugging `println`
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

Fix errors
  crates/core/src/host/host_controller.rs
Owners: none

Consider deleted committed rows in `MutTxId::create_index` (#2805)
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/schema/src/schema.rs
  crates/table/src/table.rs
  crates/table/src/table_index/mod.rs
  crates/table/src/table_index/unique_direct_fixed_cap_index.rs
  crates/table/src/table_index/unique_direct_index.rs
  crates/table/src/table_index/uniquemap.rs
Owners: none

spacetimedb_execution: avoid get_row_ref
  crates/execution/src/iter.rs
  crates/execution/src/pipelined.rs
  crates/table/src/table.rs
Owners: none

Per-database incoming and outgoing queue length metrics (#2773)
  crates/client-api/src/routes/subscribe.rs
  crates/core/src/client/client_connection.rs
  crates/core/src/worker_metrics/mod.rs
Owners: none

Move the module instance inside the database core.
  crates/core/src/host/module_host.rs
Owners: none

Aggregate and broadcast `DbUpdate`s off the main thread (#2793)
  crates/client-api-messages/src/websocket.rs
  crates/core/src/host/host_controller.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/host/wasm_common/module_host_actor.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/execution_unit.rs
  crates/core/src/subscription/mod.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/subscription/query.rs
  crates/core/src/worker_metrics/mod.rs
  crates/schema/src/schema.rs
  crates/sqltest/src/space.rs
  crates/subscription/src/lib.rs
Owners: @centril, @gefjon

Allow 50 messages at a time on the queue.
  crates/core/src/host/module_host.rs
Owners: none

Add benchmarking scene
  demo/Blackholio/client-unity/.gitignore
  demo/Blackholio/client-unity/Assets/Scenes/Benchmark.unity
  demo/Blackholio/client-unity/Assets/Scenes/Benchmark.unity.meta
  demo/Blackholio/client-unity/Assets/Scripts/Benchmark.meta
  demo/Blackholio/client-unity/Assets/Scripts/Benchmark/BenchmarkManager.cs
  demo/Blackholio/client-unity/Assets/Scripts/Benchmark/BenchmarkManager.cs.meta
  demo/Blackholio/client-unity/Assets/Scripts/Benchmark/BucketOfVectors.cs
  demo/Blackholio/client-unity/Assets/Scripts/Benchmark/BucketOfVectors.cs.meta
  demo/Blackholio/client-unity/Assets/Scripts/Benchmark/DbVector2Struct.cs
  demo/Blackholio/client-unity/Assets/Scripts/Benchmark/DbVector2Struct.cs.meta
  demo/Blackholio/client-unity/Assets/Scripts/GameManager.cs
Owners: none

Bring back queue length stats.
  crates/core/src/host/module_host.rs
Owners: none

Double the tokio event interval.
  crates/standalone/src/main.rs
Owners: none

Cut the tokio event interval in half.
  crates/standalone/src/main.rs
Owners: none

Build indexes over TxData for subscription eval
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/subscription/query.rs
  crates/core/src/subscription/tx.rs
  crates/execution/src/lib.rs
  crates/execution/src/pipelined.rs
  crates/physical-plan/src/plan.rs
  crates/physical-plan/src/rules.rs
  crates/schema/src/schema.rs
  crates/subscription/src/lib.rs
Owners: @cloutiertyler

Build indexes over TxData for subscription eval (#2768)
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/subscription/query.rs
  crates/core/src/subscription/tx.rs
  crates/execution/src/lib.rs
  crates/execution/src/pipelined.rs
  crates/physical-plan/src/plan.rs
  crates/physical-plan/src/rules.rs
  crates/schema/src/schema.rs
  crates/subscription/src/lib.rs
Owners: @cloutiertyler

Add cookie API and re-export gloo storage wrappers for the web SDK
  Cargo.lock
  crates/sdk/Cargo.toml
  crates/sdk/src/credentials.rs
Owners: none

Replace anymap with anymap3
  Cargo.lock
  Cargo.toml
  crates/sdk/src/client_cache.rs
Owners: none

Remove some redundancies from wasm32 rust sdk
  Cargo.lock
  crates/sdk/Cargo.toml
  crates/sdk/src/db_connection.rs
  crates/sdk/src/websocket.rs
Owners: none

Replace SDK File struct with StorageEntry for web
  crates/sdk/Cargo.toml
  crates/sdk/src/credentials.rs
Owners: none

Improve Rust SDK websocket message handling on wasm32
  crates/sdk/src/websocket.rs
Owners: none

Enable web build for the SDK crate
  Cargo.lock
  crates/sdk/Cargo.toml
  crates/sdk/src/db_connection.rs
  crates/sdk/src/websocket.rs
Owners: none

Enable run_threaded on the web with spawn_local
  crates/codegen/src/rust.rs
  crates/codegen/tests/snapshots/codegen__codegen_rust.snap
  crates/sdk/src/db_connection.rs
Owners: none

Move the module instance inside the database core.
  crates/core/src/host/module_host.rs
Owners: none

Fix errors
  crates/core/src/host/host_controller.rs
Owners: none

Allow 50 messages at a time on the queue.
  crates/core/src/host/module_host.rs
Owners: none

Pin db threads to cores
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/host/host_controller.rs
  crates/core/src/host/module_host.rs
  crates/core/src/startup.rs
  crates/core/src/subscription/subscription.rs
  crates/standalone/src/lib.rs
  crates/standalone/src/main.rs
  crates/standalone/src/subcommands/start.rs
  crates/testing/src/modules.rs
Owners: none

Add `web` feature flag to the rust sdk
  Cargo.lock
  crates/sdk/Cargo.toml
  crates/sdk/src/credentials.rs
  crates/sdk/src/db_connection.rs
  crates/sdk/src/websocket.rs
Owners: none

Add token verification for the wasm sdk websocket connection
  Cargo.lock
  crates/sdk/Cargo.toml
  crates/sdk/src/db_connection.rs
  crates/sdk/src/websocket.rs
Owners: none

Rename misleading `run_threaded` to `run_background` on wasm32
  crates/codegen/src/rust.rs
  crates/codegen/tests/snapshots/codegen__codegen_rust.snap
  crates/sdk/src/db_connection.rs
Owners: none

Reduce cfg noise by simplifying mutex handling in the sdk crate
  crates/sdk/src/db_connection.rs
Owners: none

Improve error handling for the wasm sdk's Cookie builder
  Cargo.lock
  crates/sdk/Cargo.toml
  crates/sdk/src/credentials.rs
Owners: none

Remove tokio dependency from the rust web sdk
  Cargo.lock
  crates/sdk/Cargo.toml
  crates/sdk/src/db_connection.rs
Owners: none

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler @jdetter

/crates/sdk/examples/quickstart-chat/ @gefjon
/modules/quickstart-chat/ @gefjon
