Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops, @jdetter

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler @jdetter

/crates/sdk/examples/quickstart-chat/ @gefjon
/modules/quickstart-chat/ @gefjon

add instrumentation to remove_multi_subscription (#2781)
  crates/core/src/subscription/module_subscription_actor.rs
Owners: none

[bfops/player-move-bench]: reduce
  modules/benchmarks/src/player_move.rs
Owners: none

remove unused VecList
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

Single-threaded subscription evaluation (#2682)
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

Run reducers on tokio blocking thread instead of rayon
  crates/core/src/host/wasm_common/module_host_actor.rs
Owners: none

Run reducers on tokio blocking thread instead of rayon
  crates/core/src/host/wasm_common/module_host_actor.rs
Owners: none

Build indexes over TxData for subscription eval
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/subscription/query.rs
  crates/core/src/subscription/tx.rs
  crates/execution/src/lib.rs
  crates/execution/src/pipelined.rs
  crates/physical-plan/src/plan.rs
  crates/physical-plan/src/rules.rs
  crates/subscription/src/lib.rs
Owners: @cloutiertyler

[bfops/player-move-bench]: works now
  modules/benchmarks/src/player_move.rs
Owners: none

[bfops/player-move-bench]: unused impls
  modules/benchmarks/src/player_move.rs
Owners: none

Formatting.
  crates/bindings-csharp/BSATN.Runtime/Builtins.cs
Owners: none

Updated perf.sh to fix Spacetime PID not detecting
  tools/perf.sh
Owners: none

Reduce the number of tokio worker threads
  crates/core/src/host/wasm_common/module_host_actor.rs
  crates/core/src/startup.rs
  crates/standalone/src/main.rs
Owners: none

Seperate type imports and class imports for typescript client bindings codegen
  crates/codegen/src/typescript.rs
Owners: none

Run reducers on tokio blocking thread instead of rayon (#2785)
  crates/core/src/host/wasm_common/module_host_actor.rs
Owners: none

add timer functions
  crates/bindings-go/internal/wasm/spacetime.go
Owners: none

fixes
  crates/bindings-go/pkg/spacetimedb/bsatn/spacetime_types.go.disabled
  crates/bindings-go/pkg/spacetimedb/bsatn/spacetime_types.go.disabled2
  crates/bindings-go/pkg/spacetimedb/database/go.mod
  crates/bindings-go/pkg/spacetimedb/types/core_test.go
Owners: none

add go support to the cli
  crates/cli/src/subcommands/generate.rs
  crates/cli/src/subcommands/init.rs
  crates/cli/src/subcommands/project/go/Makefile
  crates/cli/src/subcommands/project/go/_gitignore
  crates/cli/src/subcommands/project/go/go._mod
  crates/cli/src/subcommands/project/go/main._go
  crates/cli/src/tasks/go.rs
  crates/cli/src/tasks/mod.rs
  crates/cli/src/util.rs
  crates/codegen/src/go.rs
  crates/codegen/src/lib.rs
Owners: @bfops, @cloutiertyler, @jdetter

ci integration
  crates/bindings-go/.golangci.yml
  crates/bindings-go/internal/autogen/algebraic_type.go
  crates/bindings-go/internal/autogen/index_type.go
  crates/bindings-go/internal/autogen/lifecycle.go
  crates/bindings-go/internal/autogen/misc_module_export.go
  crates/bindings-go/internal/autogen/module.go
  crates/bindings-go/internal/autogen/product_type.go
  crates/bindings-go/internal/autogen/product_type_element.go
  crates/bindings-go/internal/autogen/raw_column_def_v_8.go
  crates/bindings-go/internal/autogen/raw_constraint_data_v_9.go
  crates/bindings-go/internal/autogen/raw_constraint_def_v_8.go
  crates/bindings-go/internal/autogen/raw_constraint_def_v_9.go
  crates/bindings-go/internal/autogen/raw_index_algorithm.go
  crates/bindings-go/internal/autogen/raw_index_def_v_8.go
  crates/bindings-go/internal/autogen/raw_index_def_v_9.go
  crates/bindings-go/internal/autogen/raw_misc_module_export_v_9.go
  crates/bindings-go/internal/autogen/raw_module_def.go
  crates/bindings-go/internal/autogen/raw_module_def_v_8.go
  crates/bindings-go/internal/autogen/raw_module_def_v_9.go
  crates/bindings-go/internal/autogen/raw_reducer_def_v_9.go
  crates/bindings-go/internal/autogen/raw_row_level_security_def_v_9.go
  crates/bindings-go/internal/autogen/raw_schedule_def_v_9.go
  crates/bindings-go/internal/autogen/raw_scoped_type_name_v_9.go
  crates/bindings-go/internal/autogen/raw_sequence_def_v_8.go
  crates/bindings-go/internal/autogen/raw_sequence_def_v_9.go
  crates/bindings-go/internal/autogen/raw_table_def_v_8.go
  crates/bindings-go/internal/autogen/raw_table_def_v_9.go
  crates/bindings-go/internal/autogen/raw_type_def_v_9.go
  crates/bindings-go/internal/autogen/raw_unique_constraint_data_v_9.go
  crates/bindings-go/internal/autogen/reducer_def.go
  crates/bindings-go/internal/autogen/sum_type.go
  crates/bindings-go/internal/autogen/sum_type_variant.go
  crates/bindings-go/internal/autogen/table_access.go
  crates/bindings-go/internal/autogen/table_desc.go
  crates/bindings-go/internal/autogen/table_type.go
  crates/bindings-go/internal/autogen/type_alias.go
  crates/bindings-go/internal/autogen/typespace.go
  crates/codegen/examples/regen-go-moduledef.rs
Owners: none

github workflows
  .github/workflows/ci.yml
Owners: none

core: Make `asyncify` preserve the current span
  crates/core/src/util/mod.rs
Owners: none

commitlog: Reduce log noise when offset index cannot be used
  crates/commitlog/src/commitlog.rs
  crates/commitlog/src/error.rs
  crates/commitlog/src/segment.rs
  crates/commitlog/src/stream/reader.rs
Owners: none

commitlog: Fix index truncation test.
  crates/commitlog/src/index/indexfile.rs
  crates/commitlog/src/segment.rs
Owners: none

Aggregate and broadcast `DbUpdate`s off the main thread
  crates/client-api-messages/src/websocket.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/host/wasm_common/module_host_actor.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/execution_unit.rs
  crates/core/src/subscription/mod.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/subscription/query.rs
  crates/schema/src/schema.rs
  crates/subscription/src/lib.rs
Owners: @centril, @gefjon

Support for the PG wire protocol
  Cargo.lock
  Cargo.toml
  crates/cli/src/subcommands/sql.rs
  crates/client-api-messages/src/name.rs
  crates/client-api/src/auth.rs
  crates/client-api/src/routes/database.rs
  crates/core/src/auth/mod.rs
  crates/pg/Cargo.toml
  crates/pg/LICENSE
  crates/pg/README.md
  crates/pg/src/lib.rs
  crates/pg/src/pg_server.rs
  crates/sats/src/product_value.rs
  crates/sats/src/satn.rs
  crates/sats/src/time_duration.rs
  crates/sats/src/timestamp.rs
  crates/standalone/Cargo.toml
  crates/standalone/src/subcommands/start.rs
  docker-compose.yml
  smoketests/tests/pg_wire.py
Owners: @bfops, @cloutiertyler, @jdetter

Small non-functional change to make datastore extraction easier
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/host/module_host.rs
  crates/core/src/host/wasm_common/module_host_actor.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/mod.rs
  crates/core/src/subscription/module_subscription_actor.rs
Owners: none

Fixed report_tx_metricses function
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/module_subscription_actor.rs
Owners: none

Removed a reference to ExecutionCounters in the datastore module
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/relational_db.rs
Owners: none

Remove StVarTable in furtherance of datastore extraction
  crates/core/src/db/datastore/system_tables.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/sql/execute.rs
  crates/core/src/vm.rs
Owners: none

Remove reference to WORKER_METRICS inside db_metrics
  crates/core/src/db/db_metrics/data_size.rs
  crates/core/src/host/host_controller.rs
Owners: none

Fix typo in config toml
  crates/standalone/config.toml
Owners: none

Wrap `TableName` in a newtype
  crates/core/src/subscription/module_subscription_manager.rs
  crates/subscription/src/lib.rs
Owners: none

Datastore Extraction: TxMetrics refactor, small non-functional change to make datastore extraction easier (#2794)
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/host/module_host.rs
  crates/core/src/host/wasm_common/module_host_actor.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/mod.rs
  crates/core/src/subscription/module_subscription_actor.rs
Owners: none

Randomly delay flushes if we are only sending updates.
  crates/client-api/src/routes/subscribe.rs
Owners: none

Wrap `TableName` in a newtype (#2800)
  crates/core/src/subscription/module_subscription_manager.rs
  crates/subscription/src/lib.rs
Owners: none

Increase compression threshold to 10k
  crates/client-api-messages/src/websocket.rs
Owners: @centril, @gefjon

Add metric for queue length
  crates/core/src/host/host_controller.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/sql/execute.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/core/src/worker_metrics/mod.rs
Owners: none

Datastore Extraction: Remove reference to WORKER_METRICS inside db_metrics (#2797)
  crates/core/src/db/db_metrics/data_size.rs
  crates/core/src/host/host_controller.rs
Owners: none

Split datastore errors out into their own type
  crates/core/src/db/datastore/error.rs
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/mod.rs
  crates/core/src/db/datastore/system_tables.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/error.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/host/module_host.rs
  crates/core/src/host/wasm_common.rs
Owners: none

Datastore Extraction: StVarName refactor, small non-functional change in furtherance of datastore extraction (#2795)
  crates/core/src/db/datastore/system_tables.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/sql/execute.rs
  crates/core/src/vm.rs
Owners: none

Datastore Extraction: Create DatastoreError type (#2798)
  crates/core/src/db/datastore/error.rs
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/mod.rs
  crates/core/src/db/datastore/system_tables.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/error.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/host/module_host.rs
  crates/core/src/host/wasm_common.rs
Owners: none
