Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops, @jdetter

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler @jdetter

/crates/sdk/examples/quickstart-chat/ @gefjon
/modules/quickstart-chat/ @gefjon

Single-threaded subscription evaluation
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

commitlog: Include latest commit offset in segment metadata (#2733)
  crates/commitlog/src/repo/mod.rs
  crates/commitlog/src/segment.rs
Owners: none

Reintroduce replication factor parameter (#2718)
  crates/cli/src/subcommands/publish.rs
  crates/client-api/src/lib.rs
  crates/client-api/src/routes/database.rs
  crates/standalone/src/lib.rs
  crates/testing/src/modules.rs
Owners: @bfops, @cloutiertyler, @jdetter

Actually run bindgen tests
  .github/workflows/ci.yml
Owners: none

ci: Update dependencies for the `wasm_bindings` job (#2717)
  .github/workflows/ci.yml
Owners: none

Add `client_connection_incoming_queue_length` metric
  crates/client-api/src/routes/subscribe.rs
  crates/core/src/worker_metrics/mod.rs
Owners: none

core: Fix error handling when restoring snapshot
  crates/core/src/db/relational_db.rs
  crates/core/src/error.rs
Owners: none

Pre process messages in parallel, take 1
  sdks/csharp/src/SpacetimeDBClient.cs
Owners: none

Add some comments
  sdks/csharp/src/SpacetimeDBClient.cs
Owners: none

More commenting
  sdks/csharp/src/SpacetimeDBClient.cs
Owners: none

Don't preprocess tiny messages in parallel
  sdks/csharp/src/SpacetimeDBClient.cs
Owners: none

Add comment
  sdks/csharp/src/SpacetimeDBClient.cs
Owners: none

Check that min_commitlog_offset > 0 before discarding snapshot as not connected.
  crates/core/src/db/relational_db.rs
Owners: none

Commentary
  crates/core/src/db/relational_db.rs
Owners: none

fixup! Check that min_commitlog_offset > 0 before discarding snapshot as not connected.
  crates/core/src/db/relational_db.rs
Owners: none

fixup! fixup! Check that min_commitlog_offset > 0 before discarding snapshot as not connected.
  crates/core/src/db/relational_db.rs
Owners: none

core: Fix error handling when restoring snapshot (#2755)
  crates/core/src/db/relational_db.rs
  crates/core/src/error.rs
Owners: none

cli: Add value_parser for `num-replicas`
  crates/cli/src/subcommands/publish.rs
Owners: @bfops, @cloutiertyler, @jdetter

`build_sequence_state`: clobber pre-existing in-memory `Sequence`s
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
Owners: none

add go wasm runner
  crates/bindings-go/go.mod
  crates/bindings-go/go.sum
  crates/bindings-go/spacetimedb/bsatn/bsatn.go
  crates/bindings-go/spacetimedb/bsatn/bsatn_test.go
  crates/bindings-go/spacetimedb/db/db.go
  crates/bindings-go/spacetimedb/db/db_test.go
  crates/bindings-go/spacetimedb/wasm/fixtures/add.go
  crates/bindings-go/spacetimedb/wasm/fixtures/add.wasm
  crates/bindings-go/spacetimedb/wasm/wasm.go
  crates/bindings-go/spacetimedb/wasm/wasm_test.go
Owners: none

Add a regression test
  crates/core/src/db/relational_db.rs
Owners: none

`build_sequence_state`: clobber pre-existing in-memory `Sequence`s (#2760)
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/relational_db.rs
Owners: none

cli: Add value_parser for `num-replicas` (#2759)
  crates/cli/src/subcommands/publish.rs
Owners: @bfops, @cloutiertyler, @jdetter

Change verbiage
  sdks/csharp/src/SpacetimeDBClient.cs
Owners: none

VSCode refactor didn't work
  sdks/csharp/src/SpacetimeDBClient.cs
Owners: none

Add `client_connection_outgoing_queue_length` metric
  crates/client-api/src/routes/subscribe.rs
  crates/core/src/client/client_connection.rs
  crates/core/src/worker_metrics/mod.rs
Owners: none

Fix deptree_snapshot
  crates/bindings/tests/deps.rs
  crates/bindings/tests/snapshots/deps__spacetimedb_bindings_dependencies.snap
Owners: none

Improve serialization speed of enums without values
  crates/bindings-csharp/BSATN.Runtime.Tests/Tests.cs
  crates/bindings-csharp/BSATN.Runtime/BSATN/Runtime.cs
Owners: none

Restore verbiage
  crates/bindings-csharp/BSATN.Runtime/BSATN/Runtime.cs
Owners: none

Speed up and add another comment
  crates/bindings-csharp/BSATN.Runtime/BSATN/Runtime.cs
Owners: none

Update src/SpacetimeDBClient.cs
  sdks/csharp/src/SpacetimeDBClient.cs
Owners: none

runner works again
  crates/bindings-go/README.md
  crates/bindings-go/cmd/spacetimedb/main.go
  crates/bindings-go/go.mod
  crates/bindings-go/go.sum
  crates/bindings-go/internal/bsatn/bsatn.go
  crates/bindings-go/internal/bsatn/bsatn_test.go
  crates/bindings-go/internal/db/db.go
  crates/bindings-go/internal/db/db_test.go
  crates/bindings-go/internal/errors/errors.go
  crates/bindings-go/internal/types/types.go
  crates/bindings-go/internal/types/types_test.go
  crates/bindings-go/internal/wasm/fixtures/add.c
  crates/bindings-go/internal/wasm/fixtures/add.wasm
  crates/bindings-go/internal/wasm/wasm.go
  crates/bindings-go/internal/wasm/wasm_test.go
  crates/bindings-go/pkg/spacetimedb/client.go
  crates/bindings-go/pkg/spacetimedb/types.go
  crates/bindings-go/spacetimedb/bsatn/bsatn.go
  crates/bindings-go/spacetimedb/bsatn/bsatn_test.go
  crates/bindings-go/spacetimedb/db/db.go
  crates/bindings-go/spacetimedb/db/db_test.go
  crates/bindings-go/spacetimedb/wasm/fixtures/add.go
  crates/bindings-go/spacetimedb/wasm/fixtures/add.wasm
  crates/bindings-go/tests/sdk/sdk_integration_test.go
  crates/bindings-go/tests/sdk/test_utils.go
Owners: none

Saving progress
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/db/relational_db.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/vm.rs
  crates/datastore/Cargo.toml
  crates/datastore/LICENSE
  crates/datastore/src/error.rs
  crates/datastore/src/execution_context.rs
  crates/datastore/src/lib.rs
  crates/datastore/src/locking_tx_datastore/committed_state.rs
  crates/datastore/src/locking_tx_datastore/datastore.rs
  crates/datastore/src/locking_tx_datastore/delete_table.rs
  crates/datastore/src/locking_tx_datastore/mod.rs
  crates/datastore/src/locking_tx_datastore/mut_tx.rs
  crates/datastore/src/locking_tx_datastore/sequence.rs
  crates/datastore/src/locking_tx_datastore/state_view.rs
  crates/datastore/src/locking_tx_datastore/tx.rs
  crates/datastore/src/locking_tx_datastore/tx_state.rs
  crates/datastore/src/system_tables.rs
  crates/datastore/src/traits.rs
Owners: none

Fixed rename by using put instead of post
  crates/cli/src/subcommands/dns.rs
Owners: @bfops, @cloutiertyler, @jdetter

Quotes around the name
  crates/cli/src/subcommands/dns.rs
Owners: @bfops, @cloutiertyler, @jdetter

[bfops/player-move-bench]: WIP
  modules/benchmarks/src/lib.rs
  modules/benchmarks/src/player_move.rs
Owners: none

[tyler/fix-rename]: fix?
  crates/cli/src/subcommands/dns.rs
Owners: @bfops, @cloutiertyler, @jdetter

[tyler/fix-rename]: fix build?
  crates/cli/src/subcommands/dns.rs
Owners: @bfops, @cloutiertyler, @jdetter

address tyler's review
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/host/host_controller.rs
  crates/core/src/host/instance_env.rs
  crates/core/src/replica_context.rs
Owners: @cloutiertyler

call_reducer_with_tx: move some with_label_values before taking lock
  crates/core/src/host/wasm_common/module_host_actor.rs
Owners: none
