Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops, @jdetter

Allow closing a JobThread
  crates/core/src/host/module_host.rs
  crates/core/src/host/wasm_common/module_host_actor.rs
  crates/core/src/util/jobs.rs
Owners: none

Tiny fix
  crates/core/src/util/jobs.rs
Owners: none

[bfops/remove-old-check]: CI - Remove `Contributor Membership Check`
  .github/workflows/contributor_check.yml
Owners: none

Tiny fix 2
  crates/core/src/util/jobs.rs
Owners: none

Host controller nonces, upgraded log levels, removed unnecessary backtraces
  crates/core/src/db/relational_db.rs
  crates/core/src/host/host_controller.rs
  crates/durability/src/imp/local.rs
Owners: none

Don't finish the queue before closing
  crates/core/src/util/jobs.rs
Owners: none

CI - Remove outdated `Contributor Membership Check` (#2827)
  .github/workflows/contributor_check.yml
Owners: none

[bfops/bump-version]: Bump versions to 1.1.3
  Cargo.lock
  Cargo.toml
  LICENSE.txt
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @cloutiertyler, @bfops, @jdetter

Bump JOB_CHANNEL_LENGTH to 64
  crates/core/src/util/jobs.rs
Owners: none

Bump versions to 1.1.3 (#2828)
  Cargo.lock
  Cargo.toml
  LICENSE.txt
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @cloutiertyler, @bfops, @jdetter

`spacetimedb_execution`: avoid `get_row_ref` (#2806)
  crates/execution/src/iter.rs
  crates/execution/src/pipelined.rs
  crates/table/src/table.rs
Owners: none

Evaluate RLS joins with the owner identity. See #2830
  crates/expr/src/rls.rs
Owners: none

Corrected erroneous assertion that RLS rules should be applied to private tables
  docs/llms.md
Owners: none

Fix typo in the log config toml file (#2799)
  crates/standalone/config.toml
Owners: none

Also stick nonces on `Host`
  crates/core/src/host/host_controller.rs
Owners: none

Send other subscription messages through the broadcast queue to keep ordering.
  crates/client-api-messages/src/websocket.rs
  crates/core/src/host/host_controller.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
Owners: @centril, @gefjon

Cleanup.
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

Example of custom event handling
  sdks/csharp/src/EventHandling/AbstractEventHandler.cs
  sdks/csharp/src/EventHandling/EventListeners.cs
  sdks/csharp/src/EventHandling/ListExtensions.cs
  sdks/csharp/src/Table.cs
Owners: none

Add meta files
  sdks/csharp/src/EventHandling/AbstractEventHandler.cs.meta
  sdks/csharp/src/EventHandling/EventListeners.cs.meta
  sdks/csharp/src/EventHandling/ListExtensions.cs.meta
Owners: none

Local buffers
  Cargo.lock
  crates/client-api/src/lib.rs
  crates/client-api/src/routes/subscribe.rs
  crates/core/Cargo.toml
  crates/core/src/client/messages.rs
  crates/core/src/host/host_controller.rs
  crates/standalone/src/lib.rs
Owners: none

[bfops/bump-version]: Bump versions to 1.2.0
  Cargo.lock
  Cargo.toml
  LICENSE.txt
  crates/bindings-csharp/BSATN.Codegen/BSATN.Codegen.csproj
  crates/bindings-csharp/BSATN.Runtime/BSATN.Runtime.csproj
  crates/bindings-csharp/Codegen/Codegen.csproj
  crates/bindings-csharp/Runtime/Runtime.csproj
  crates/cli/src/subcommands/project/csharp/StdbModule._csproj
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @cloutiertyler, @bfops, @jdetter

Add check to make sure that we're not renaming on top of an existing database.
  crates/client-api/src/routes/database.rs
Owners: none

Improved error handling
  crates/cli/src/subcommands/dns.rs
  crates/client-api/src/routes/database.rs
Owners: @bfops, @cloutiertyler, @jdetter

Cargo fmt
  crates/cli/src/subcommands/dns.rs
  crates/client-api/src/routes/database.rs
Owners: @bfops, @cloutiertyler, @jdetter

Corrected rejecting client connection code and behavior descriptions
  docs/docs/how-to/reject-client-connections.md
Owners: none

Bump versions to 1.2.0 (#2837)
  Cargo.lock
  Cargo.toml
  LICENSE.txt
  crates/bindings-csharp/BSATN.Codegen/BSATN.Codegen.csproj
  crates/bindings-csharp/BSATN.Runtime/BSATN.Runtime.csproj
  crates/bindings-csharp/Codegen/Codegen.csproj
  crates/bindings-csharp/Runtime/Runtime.csproj
  crates/cli/src/subcommands/project/csharp/StdbModule._csproj
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @cloutiertyler, @bfops, @jdetter

Invoke __identity_connected__ for sql http requests
  crates/client-api/src/routes/database.rs
  smoketests/tests/client_connected_error_rejects_connection.py
  smoketests/tests/connect_disconnect_from_cli.py
Owners: none

Change smoketest to reflect new behaviour
  smoketests/tests/client_connected_error_rejects_connection.py
Owners: none

Update comments.
  crates/core/src/client/client_connection.rs
  crates/core/src/subscription/module_subscription_actor.rs
Owners: none

Update crates/core/src/startup.rs
  crates/core/src/startup.rs
Owners: none

Address review
  crates/core/src/host/host_controller.rs
  crates/core/src/util/jobs.rs
Owners: none

Remove lending_pool.rs
  crates/core/src/util/lending_pool.rs
  crates/core/src/util/mod.rs
Owners: none

More comments
  crates/core/src/host/host_controller.rs
  crates/core/src/startup.rs
Owners: none

Bump versions to 1.2.0 (#328)
  sdks/csharp/SpacetimeDB.ClientSDK.csproj
  sdks/csharp/package.json
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.1.2/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.1.2/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/analyzers.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/analyzers/dotnet.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/analyzers/dotnet/cs.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/lib.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/lib/netstandard2.1.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.2.0/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll.meta
Owners: none

Bump versions to 1.2.0 (#328)
  SpacetimeDB.ClientSDK.csproj
  package.json
  packages/spacetimedb.bsatn.runtime/1.1.2/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  packages/spacetimedb.bsatn.runtime/1.1.2/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
  packages/spacetimedb.bsatn.runtime/1.2.0.meta
  packages/spacetimedb.bsatn.runtime/1.2.0/analyzers.meta
  packages/spacetimedb.bsatn.runtime/1.2.0/analyzers/dotnet.meta
  packages/spacetimedb.bsatn.runtime/1.2.0/analyzers/dotnet/cs.meta
  packages/spacetimedb.bsatn.runtime/1.2.0/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  packages/spacetimedb.bsatn.runtime/1.2.0/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll.meta
  packages/spacetimedb.bsatn.runtime/1.2.0/lib.meta
  packages/spacetimedb.bsatn.runtime/1.2.0/lib/netstandard2.1.meta
  packages/spacetimedb.bsatn.runtime/1.2.0/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
  packages/spacetimedb.bsatn.runtime/1.2.0/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll.meta
Owners: none

Add TODO
  crates/core/src/host/host_controller.rs
Owners: none

Example of custom event handling (#327)
  sdks/csharp/src/EventHandling.meta
  sdks/csharp/src/EventHandling/AbstractEventHandler.cs
  sdks/csharp/src/EventHandling/AbstractEventHandler.cs.meta
  sdks/csharp/src/EventHandling/EventListeners.cs
  sdks/csharp/src/EventHandling/EventListeners.cs.meta
  sdks/csharp/src/EventHandling/ListExtensions.cs
  sdks/csharp/src/EventHandling/ListExtensions.cs.meta
  sdks/csharp/src/Table.cs
Owners: none

Example of custom event handling (#327)
  src/EventHandling.meta
  src/EventHandling/AbstractEventHandler.cs
  src/EventHandling/AbstractEventHandler.cs.meta
  src/EventHandling/EventListeners.cs
  src/EventHandling/EventListeners.cs.meta
  src/EventHandling/ListExtensions.cs
  src/EventHandling/ListExtensions.cs.meta
  src/Table.cs
Owners: none

Bump rust-toolchain to rust 1.87
  .github/workflows/benchmarks.yml
  Cargo.toml
  crates/bench/Dockerfile
  crates/client-api-messages/Cargo.toml
  crates/client-api/Cargo.toml
  crates/data-structures/Cargo.toml
  crates/metrics/Cargo.toml
  crates/primitives/Cargo.toml
  crates/sats/Cargo.toml
  crates/sdk/Cargo.toml
  crates/standalone/Cargo.toml
  crates/standalone/Dockerfile
  crates/table/Cargo.toml
  crates/vm/Cargo.toml
  rust-toolchain.toml
Owners: @cloutiertyler

Fix deptree_snapshot
  crates/bindings/tests/deps.rs
  crates/bindings/tests/snapshots/deps__spacetimedb_bindings_dependencies.snap
Owners: none

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler @jdetter

/crates/sdk/examples/quickstart-chat/ @gefjon
/modules/quickstart-chat/ @gefjon
