Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler
/crates/cli/src/subcommands/generate/ # No owners
/crates/cli/src/subcommands/generate/mod.rs @bfops @cloutiertyler # These codeowners should be the same as the "root" CLI codeowners

Normalize names of iters and split more
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mod.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/vm.rs
Owners: @cloutiertyler

Split Iter & IterByColRange types into Tx and MutTxId versions
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
Owners: none

Refactor getting the deleted table
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx_state.rs
Owners: none

Use a spinner to show that wasm is compiling in spacetime generate
  crates/cli/src/subcommands/generate/mod.rs
Owners: @bfops, @cloutiertyler

Bumped version number on the crates
  Cargo.lock
  Cargo.toml
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @bfops, @cloutiertyler

Updated version to 1.0.0-rc3
  Cargo.lock
  Cargo.toml
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @bfops, @cloutiertyler

Bump csproj versions
  crates/bindings-csharp/BSATN.Codegen/BSATN.Codegen.csproj
  crates/bindings-csharp/BSATN.Runtime/BSATN.Runtime.csproj
  crates/bindings-csharp/Codegen/Codegen.csproj
  crates/bindings-csharp/Runtime/Runtime.csproj
Owners: none

Added LICENSE file
  crates/sql-parser/LICENSE
Owners: none

Temp crate name change
  crates/sql-parser/Cargo.toml
Owners: none

Committing all the changes I needed to make in order to publish
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/expr/Cargo.toml
  crates/schema/Cargo.toml
Owners: none

cargo fmt
  crates/sdk/tests/test-client/src/main.rs
Owners: none

Renabled cli as a dev dependency for tests
  Cargo.lock
  crates/schema/Cargo.toml
Owners: none

Switched back to non -2 cratse
  Cargo.lock
  Cargo.toml
  crates/expr/Cargo.toml
  crates/schema/Cargo.toml
  crates/sql-parser/Cargo.toml
Owners: none

I mean lawdy
  Cargo.lock
  crates/schema/Cargo.toml
Owners: none

Bump versions
  sdks/csharp/SpacetimeDB.ClientSDK.csproj
  sdks/csharp/package.json
Owners: none

Bump versions
  SpacetimeDB.ClientSDK.csproj
  package.json
Owners: none

Updated DLLs I think
  packages/spacetimedb.bsatn.runtime/1.0.0-rc2/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  packages/spacetimedb.bsatn.runtime/1.0.0-rc2/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
  packages/spacetimedb.bsatn.runtime/1.0.0-rc2/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.xml
Owners: none

Updated DLLs I think
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.0-rc2/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.0-rc2/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.0-rc2/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.xml
Owners: none

Update pull_request_template.md
  .github/pull_request_template.md
Owners: none

Update pull_request_template.md
  sdks/csharp/.github/pull_request_template.md
Owners: none

Point CI to the same global.json
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
Owners: none

Don't reuse global.json
  crates/cli/src/subcommands/init.rs
  crates/cli/src/subcommands/project/csharp/global._json
Owners: @bfops, @cloutiertyler

Enforce .NET 8 SDK for new C# modules
  crates/cli/src/subcommands/init.rs
  crates/cli/src/tasks/csharp.rs
  modules/global.json
Owners: @bfops, @cloutiertyler

Bump C# versions for CI
  crates/bindings-csharp/BSATN.Codegen/BSATN.Codegen.csproj
  crates/bindings-csharp/BSATN.Runtime/BSATN.Runtime.csproj
  crates/bindings-csharp/Codegen/Codegen.csproj
  crates/bindings-csharp/Runtime/Runtime.csproj
Owners: none

Revert index change
  crates/bindings-csharp/Codegen/Module.cs
Owners: none
