Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops, @jdetter

CI - Only tag extra docker images on tag refs (#2335)
  tools/merge-docker-images.sh
Owners: none

fix: bag semantics for joins (#2398)
  crates/core/src/subscription/delta.rs
  crates/core/src/subscription/query.rs
  crates/sdk/tests/test-client/src/main.rs
  crates/sdk/tests/test-client/src/module_bindings/b_tree_u_32_type.rs
  crates/sdk/tests/test-client/src/module_bindings/btree_u_32_table.rs
  crates/sdk/tests/test-client/src/module_bindings/delete_from_btree_u_32_reducer.rs
  crates/sdk/tests/test-client/src/module_bindings/insert_into_btree_u_32_reducer.rs
  crates/sdk/tests/test-client/src/module_bindings/insert_into_pk_btree_u_32_reducer.rs
  crates/sdk/tests/test-client/src/module_bindings/mod.rs
  crates/sdk/tests/test-client/src/module_bindings/update_btree_u_32_reducer.rs
  crates/sdk/tests/test.rs
  modules/sdk-test-cs/Lib.cs
  modules/sdk-test/src/lib.rs
  smoketests/tests/add_remove_index.py
Owners: none

Bump versions to 1.0.1 (#2431)
  Cargo.lock
  Cargo.toml
  LICENSE.txt
  crates/bindings-csharp/BSATN.Codegen/BSATN.Codegen.csproj
  crates/bindings-csharp/BSATN.Runtime/BSATN.Runtime.csproj
  crates/bindings-csharp/Codegen/Codegen.csproj
  crates/bindings-csharp/Runtime/Runtime.csproj
  crates/cli/src/subcommands/project/rust/Cargo._toml
Owners: @cloutiertyler, @bfops, @jdetter

Start implementing IEquatable<Self> for all [SpacetimeDB.Type]s
  crates/bindings-csharp/BSATN.Codegen/Type.cs
  crates/bindings-csharp/BSATN.Codegen/Utils.cs
  crates/bindings-csharp/BSATN.Runtime.Tests/BSATN.Runtime.Tests.csproj
  crates/bindings-csharp/BSATN.Runtime.Tests/Tests.cs
  crates/bindings-csharp/BSATN.Runtime/BSATN.Runtime.csproj
  crates/bindings-csharp/BSATN.Runtime/BSATN/AlgebraicType.cs
  crates/bindings-csharp/BSATN.Runtime/BSATN/Runtime.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/client/snapshots/Type#CustomClass.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/client/snapshots/Type#CustomStruct.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/client/snapshots/Type#CustomTaggedEnum.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/client/snapshots/Type#PublicTable.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/ExtraCompilationErrors.verified.txt
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#InAnotherNamespace.TestDuplicateTableName.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestAutoIncNotInteger.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestDuplicateTableName.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestIndexIssues.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestScheduleIssues.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestTableTaggedEnum.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestUniqueNotEquatable.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Type#TestTaggedEnumField.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Type#TestTaggedEnumInlineTuple.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Type#TestTypeParams_T_.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Type#TestUnsupportedType.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/Lib.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#BTreeMultiColumn.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#BTreeViews.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#MultiTableRow.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#PublicTable.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#RegressionMultipleUniqueIndexesHadSameName.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#Timers.SendMessageTimer.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#CustomClass.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#CustomNestedClass.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#CustomRecord.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#CustomTaggedEnum.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#EmptyClass.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#EmptyRecord.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#EmptyStruct.verified.cs
  crates/bindings-csharp/Runtime/Runtime.csproj
Owners: none

update install instructions in readme
  README.md
Owners: none

update DLLs to 1.0.1
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.0/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.0/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/analyzers.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/analyzers/dotnet.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/analyzers/dotnet/cs.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/lib.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/lib/netstandard2.1.meta
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll.meta
Owners: none

relax version requirement for nuget package
  sdks/csharp/SpacetimeDB.ClientSDK.csproj
Owners: none

Updated tutorial for Blackholio/pull/19 (#163)
  docs/docs/unity/part-2.md
  docs/docs/unity/part-3.md
Owners: none

Enhance exception message in update_bulk_unique_0_u32_u64_u64 method
  modules/benchmarks-cs/synthetic.cs
Owners: none

update install instructions in readme (#2435)
  README.md
Owners: none

Windows install instructions - all tested!
  README.md
Owners: none

Fix issue #2420
  README.md
Owners: none

Fix headers
  README.md
Owners: none

Spell check
  README.md
Owners: none

Relax the version constraint on SpacetimeDB nuget package (#270)
  sdks/csharp/SpacetimeDB.ClientSDK.csproj
Owners: none

Relax the version constraint on SpacetimeDB nuget package (#270)
  SpacetimeDB.ClientSDK.csproj
Owners: none

Minor Version Bump to 1.0.1 (#261)
  SpacetimeDB.ClientSDK.csproj
Owners: none

Minor Version Bump to 1.0.1 (#261)
  sdks/csharp/SpacetimeDB.ClientSDK.csproj
Owners: none

Adjust the BSATN doc to fit reality better (#216)
  docs/docs/bsatn.md
Owners: none

Fix outdated advice in `getrandom` warning
  crates/cli/src/tasks/rust.rs
Owners: @bfops, @cloutiertyler, @jdetter

exec_two_different_compression_algos: address joshua's request for comment
  crates/sdk/tests/test-client/src/main.rs
Owners: none

1. fix subscriptions when clients have different compression 2. fix rust sdk gzip decompression
  Cargo.lock
  crates/client-api-messages/src/websocket.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/sdk/src/lib.rs
  crates/sdk/tests/test-client/Cargo.toml
  crates/sdk/tests/test-client/src/main.rs
  crates/sdk/tests/test.rs
Owners: @centril, @gefjon

Address review comments, better comment on runtime method
  crates/bindings-csharp/BSATN.Codegen/Type.cs
  crates/bindings-csharp/BSATN.Runtime/BSATN/Runtime.cs
Owners: none

Fix errors
  crates/bindings-csharp/BSATN.Codegen/Type.cs
  crates/bindings-csharp/BSATN.Runtime/BSATN/Runtime.cs
Owners: none

Fix subs when clients use variying compression (#2434)
  Cargo.lock
  crates/client-api-messages/src/websocket.rs
  crates/core/src/subscription/module_subscription_manager.rs
  crates/sdk/src/lib.rs
  crates/sdk/tests/test-client/Cargo.toml
  crates/sdk/tests/test-client/src/main.rs
  crates/sdk/tests/test.rs
Owners: @centril, @gefjon

Fix outdated advice in `getrandom` warning (#2444)
  crates/cli/src/tasks/rust.rs
Owners: @bfops, @cloutiertyler, @jdetter

Bring over module doc fixes from the C# module docs
  crates/bindings/README.md
  crates/bindings/src/lib.rs
  crates/bindings/src/table.rs
Owners: none

Fix lints
  crates/bindings/src/lib.rs
Owners: none

repair transactionality of st_client removals after disconnect
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/host/module_host.rs
  crates/core/src/host/wasm_common/module_host_actor.rs
Owners: none

We removed update whoops
  crates/bindings/src/lib.rs
Owners: none

Formatted
  crates/bindings-csharp/BSATN.Codegen/Type.cs
Owners: none

Implement IEquatable<Self> for all [SpacetimeDB.Type]s (#2396)
  crates/bindings-csharp/BSATN.Codegen/Type.cs
  crates/bindings-csharp/BSATN.Codegen/Utils.cs
  crates/bindings-csharp/BSATN.Runtime.Tests/BSATN.Runtime.Tests.csproj
  crates/bindings-csharp/BSATN.Runtime.Tests/Tests.cs
  crates/bindings-csharp/BSATN.Runtime/BSATN.Runtime.csproj
  crates/bindings-csharp/BSATN.Runtime/BSATN/AlgebraicType.cs
  crates/bindings-csharp/BSATN.Runtime/BSATN/Runtime.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/client/snapshots/Type#CustomClass.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/client/snapshots/Type#CustomStruct.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/client/snapshots/Type#CustomTaggedEnum.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/client/snapshots/Type#PublicTable.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/ExtraCompilationErrors.verified.txt
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#InAnotherNamespace.TestDuplicateTableName.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestAutoIncNotInteger.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestDuplicateTableName.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestIndexIssues.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestScheduleIssues.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestTableTaggedEnum.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#TestUniqueNotEquatable.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Type#TestTaggedEnumField.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Type#TestTaggedEnumInlineTuple.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Type#TestTypeParams_T_.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Type#TestUnsupportedType.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/Lib.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#BTreeMultiColumn.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#BTreeViews.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#MultiTableRow.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#PublicTable.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#RegressionMultipleUniqueIndexesHadSameName.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#Timers.SendMessageTimer.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#CustomClass.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#CustomNestedClass.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#CustomRecord.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#CustomTaggedEnum.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#EmptyClass.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#EmptyRecord.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Type#EmptyStruct.verified.cs
  crates/bindings-csharp/Runtime/Runtime.csproj
Owners: none

Fix typescript primary key
  crates/cli/src/subcommands/generate/typescript.rs
  crates/cli/tests/snapshots/codegen__codegen_typescript.snap
Owners: none

When generating for typescript, convert the primary key to camel case. (#2409)
  crates/cli/src/subcommands/generate/typescript.rs
  crates/cli/tests/snapshots/codegen__codegen_typescript.snap
Owners: none

update DLLs (again)
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/analyzers/dotnet/cs/SpacetimeDB.BSATN.Codegen.dll
  sdks/csharp/packages/spacetimedb.bsatn.runtime/1.0.1/lib/netstandard2.1/SpacetimeDB.BSATN.Runtime.dll
Owners: none

Handle a single string audience.
  crates/core/src/auth/identity.rs
Owners: none

Allow a single string to be passed as the audience (#2460)
  crates/core/src/auth/identity.rs
Owners: none

Bring over Rust module doc fixes from the C# module docs (#2360)
  crates/bindings/README.md
  crates/bindings/src/lib.rs
  crates/bindings/src/table.rs
Owners: none

Print back the # of rows affected (ins, upd, del, scanned) with timings
  crates/cli/src/api.rs
  crates/cli/src/subcommands/sql.rs
  crates/client-api/src/lib.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/json/client_api.rs
  crates/core/src/sql/execute.rs
  crates/execution/src/dml.rs
  crates/lib/src/metrics.rs
Owners: @bfops, @cloutiertyler, @jdetter

Adds tests of GenericEqualityComparer (#271)
  tests~/Tests.cs
Owners: none

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler @jdetter
/crates/cli/src/subcommands/generate/ # No owners
/crates/cli/src/subcommands/generate/mod.rs @bfops @cloutiertyler @jdetter # These codeowners should be the same as the "root" CLI codeowners

/crates/sdk/examples/quickstart-chat/ @gefjon
/modules/quickstart-chat/ @gefjon
