Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops, @jdetter

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler @jdetter

/crates/sdk/examples/quickstart-chat/ @gefjon
/modules/quickstart-chat/ @gefjon

Revert "Per-database incoming and outgoing queue length metrics (#2773)"
  crates/client-api/src/routes/subscribe.rs
  crates/core/src/client/client_connection.rs
  crates/core/src/worker_metrics/mod.rs
Owners: none

More robust job system
  crates/core/src/host/host_controller.rs
  crates/core/src/host/module_host.rs
  crates/core/src/startup.rs
  crates/core/src/util/jobs.rs
  crates/core/src/util/mod.rs
  crates/standalone/src/lib.rs
  crates/standalone/src/main.rs
  crates/standalone/src/subcommands/start.rs
Owners: none

Try pinning rayon
  crates/core/src/startup.rs
  crates/standalone/src/main.rs
Owners: none

fixup! More robust job system
  crates/core/src/util/jobs.rs
Owners: none

Disable `TCP_NODELAY`
  crates/standalone/src/subcommands/start.rs
Owners: none

fix lints
  crates/core/src/host/module_host.rs
Owners: none

Bring back queue length stats.
  crates/core/src/host/module_host.rs
Owners: none

Add additional logging when a durability opens or closes
  crates/durability/src/imp/local.rs
Owners: none

Log every second a reducer takes to run
  crates/client-api-messages/src/energy.rs
  crates/core/src/host/wasmtime/mod.rs
  crates/core/src/host/wasmtime/wasm_instance_env.rs
  crates/core/src/host/wasmtime/wasmtime_module.rs
Owners: none

Move backtrace on open from Rayon to Tokio
  crates/core/src/db/relational_db.rs
  crates/durability/src/imp/local.rs
Owners: none

Also backtrace in `try_init_host`
  crates/core/src/host/host_controller.rs
Owners: none

Also log when constructing `HostController`, and print some args
  crates/core/src/host/host_controller.rs
  crates/core/src/messages/control_db.rs
Owners: none

More explicit Arcing and locking
  crates/core/src/host/host_controller.rs
Owners: none

core: Make `asyncify` preserve the current span (#2790)
  crates/core/src/util/mod.rs
Owners: none

commitlog: Fix index truncation test. (#2792)
  crates/commitlog/src/index/indexfile.rs
  crates/commitlog/src/segment.rs
Owners: none

Support for the PG wire protocol
  Cargo.lock
  Cargo.toml
  crates/cli/src/subcommands/sql.rs
  crates/client-api-messages/src/name.rs
  crates/client-api/src/auth.rs
  crates/client-api/src/routes/database.rs
  crates/core/src/auth/mod.rs
  crates/pg/Cargo.toml
  crates/pg/LICENSE
  crates/pg/README.md
  crates/pg/src/lib.rs
  crates/pg/src/pg_server.rs
  crates/sats/src/product_value.rs
  crates/sats/src/satn.rs
  crates/sats/src/time_duration.rs
  crates/sats/src/timestamp.rs
  crates/standalone/Cargo.toml
  crates/standalone/src/subcommands/start.rs
  docker-compose.yml
  smoketests/tests/pg_wire.py
Owners: @bfops, @cloutiertyler, @jdetter

Attemp sats deserialize
  Cargo.lock
  crates/pg/Cargo.toml
  crates/pg/src/encoder.rs
  crates/pg/src/lib.rs
  crates/pg/src/pg_server.rs
  crates/sats/src/satn.rs
  crates/sats/src/ser.rs
  crates/sats/src/ser/impls.rs
  smoketests/tests/pg_wire.py
  smoketests/tests/sql.py
Owners: none

commitlog: Reduce log noise when offset index cannot be used (#2791)
  crates/commitlog/src/commitlog.rs
  crates/commitlog/src/error.rs
  crates/commitlog/src/segment.rs
  crates/commitlog/src/stream/reader.rs
Owners: none

smoktests: Bring containers back up in tear down of replication tests
  smoketests/tests/replication.py
Owners: none

smoketests: Bring containers back up in tear down of replication tests (#2818)
  smoketests/tests/replication.py
Owners: none

client-api: Don't debug-print dropped outgoing Ws messages at info
  crates/client-api/src/routes/subscribe.rs
Owners: none

Support for the PG wire protocol
  Cargo.lock
  Cargo.toml
  crates/cli/src/subcommands/sql.rs
  crates/client-api-messages/src/name.rs
  crates/client-api/src/auth.rs
  crates/client-api/src/routes/database.rs
  crates/core/src/auth/mod.rs
  crates/pg/Cargo.toml
  crates/pg/LICENSE
  crates/pg/README.md
  crates/pg/src/lib.rs
  crates/pg/src/pg_server.rs
  crates/sats/src/product_value.rs
  crates/sats/src/satn.rs
  crates/sats/src/time_duration.rs
  crates/sats/src/timestamp.rs
  crates/standalone/Cargo.toml
  crates/standalone/src/subcommands/start.rs
  docker-compose.yml
  smoketests/tests/pg_wire.py
Owners: @bfops, @cloutiertyler, @jdetter

Remove the lock around the `ClientsMap` in the `SubscriptionManager`
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

Attemp sats deserialize
  Cargo.lock
  crates/cli/src/subcommands/sql.rs
  crates/pg/Cargo.toml
  crates/pg/src/encoder.rs
  crates/pg/src/lib.rs
  crates/pg/src/pg_server.rs
  crates/sats/src/satn.rs
  crates/sats/src/ser.rs
  crates/sats/src/ser/impls.rs
  smoketests/tests/pg_wire.py
  smoketests/tests/sql.py
Owners: @bfops, @cloutiertyler, @jdetter

Clippy
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

Respond to Mazdak's review
  crates/core/src/subscription/module_subscription_manager.rs
Owners: none

Fix TypeScript Quickstart wrong import (#349)
  docs/docs/sdks/typescript/quickstart.md
Owners: none

Disable the lifo_slot in standalone.
  crates/standalone/src/main.rs
Owners: none

Use sched_setaffinity on tokio blocking threads
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/startup.rs
  crates/standalone/src/main.rs
Owners: none

Log every second a reducer takes to run (#2738)
  crates/client-api-messages/src/energy.rs
  crates/core/src/host/wasmtime/mod.rs
  crates/core/src/host/wasmtime/wasm_instance_env.rs
  crates/core/src/host/wasmtime/wasmtime_module.rs
Owners: none

Remove unnecessary utility function
  crates/core/src/startup.rs
Owners: none

Remove outdated comment
  crates/core/src/startup.rs
Owners: none

messages::serialize: take/put buffers from/into a SerializeBufferPool
  Cargo.lock
  crates/client-api-messages/src/websocket.rs
  crates/client-api/src/lib.rs
  crates/client-api/src/routes/subscribe.rs
  crates/core/Cargo.toml
  crates/core/src/client/client_connection.rs
  crates/core/src/client/messages.rs
  crates/core/src/host/host_controller.rs
  crates/sats/src/buffer.rs
  crates/standalone/src/lib.rs
Owners: @centril, @gefjon

Fix variable name in sats.rs
  crates/bindings-macro/src/sats.rs
Owners: none

Clarify and and add docs for core::util::jobs
  crates/core/src/util/jobs.rs
Owners: none

Use a slightly better data structure for JobCores
  crates/core/src/util/jobs.rs
Owners: none

More docs
  crates/core/src/host/host_controller.rs
  crates/core/src/startup.rs
  crates/core/src/util/jobs.rs
Owners: none

Revert sats.rs
  crates/bindings-macro/src/sats.rs
Owners: none

Store the extra cores after pinning
  crates/core/src/startup.rs
Owners: none

Added How To Reject Client Connections guide
  docs/docs/how-to/reject-client-connections.md
Owners: none
