Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops

Bump to Rust 1.83
  .github/workflows/benchmarks.yml
  Cargo.toml
  crates/bench/Dockerfile
  crates/standalone/Dockerfile
  rust-toolchain.toml
Owners: @cloutiertyler

Update ui tests
  crates/bindings/src/rt.rs
  crates/bindings/tests/ui/reducers.stderr
  crates/bindings/tests/ui/tables.stderr
Owners: none

Rewrite inaccurate comments about empty struct-like variants
  crates/cli/src/subcommands/generate/rust.rs
Owners: none

More comments, per PR review
  crates/cli/src/subcommands/generate/rust.rs
Owners: none

Migrate C# client-side reducer enum to the new syntax (#2033)
  .github/workflows/ci.yml
  crates/bindings-csharp/Runtime/Internal/Autogen/RawRowLevelSecurityDefV9.cs
  crates/bindings-csharp/Runtime/Internal/Autogen/RawUniqueConstraintDataV9.cs
  crates/bindings-csharp/Runtime/Internal/Autogen/Typespace.cs
  crates/cli/src/subcommands/generate/csharp.rs
  crates/cli/src/subcommands/generate/mod.rs
  crates/cli/tests/snapshots/codegen__codegen_csharp.snap
  smoketests/tests/namespaces.py
Owners: @bfops, @cloutiertyler

remove names
  demo/Blackholio/client/Assets/CirclePrefab.prefab
Owners: none

more, smaller circles
  demo/Blackholio/server/src/lib.rs
Owners: none

circle move loop is also using a cloned vec
  demo/Blackholio/server/src/lib.rs
Owners: none

client performance tweaks
  demo/Blackholio/client/Assets/ArenaController.cs
  demo/Blackholio/client/Assets/CircleController.cs
  demo/Blackholio/client/Assets/CircleMaterial 1.mat
  demo/Blackholio/client/Assets/CircleMaterial 1.mat.meta
  demo/Blackholio/client/Assets/CircleMaterial 2.mat
  demo/Blackholio/client/Assets/CircleMaterial 2.mat.meta
  demo/Blackholio/client/Assets/CircleMaterial 3.mat
  demo/Blackholio/client/Assets/CircleMaterial 3.mat.meta
  demo/Blackholio/client/Assets/CircleMaterial 4.mat
  demo/Blackholio/client/Assets/CircleMaterial 4.mat.meta
  demo/Blackholio/client/Assets/CircleMaterial 5.mat
  demo/Blackholio/client/Assets/CircleMaterial 5.mat.meta
  demo/Blackholio/client/Assets/CirclePrefab.prefab
  demo/Blackholio/client/Assets/GameManager.cs
  demo/Blackholio/client/Assets/Scenes/Main.unity
  demo/Blackholio/client/Assets/Settings/UniversalRP.asset
Owners: none

upgrade to 1.0.0-rc1
  demo/Blackholio/client/Assets/GameManager.cs
  demo/Blackholio/client/Assets/autogen/_Globals/SpacetimeDBClient.cs
  demo/Blackholio/client/Packages/manifest.json
  demo/Blackholio/client/Packages/packages-lock.json
  demo/Blackholio/server/Cargo.toml
Owners: none

Fix subscription benchmarks by fixing `create_table_for_test_with_the_works` (#2027)
  crates/bench/benches/subscription.rs
  crates/core/src/db/relational_db.rs
  crates/lib/src/db/raw_def/v9.rs
  crates/sats/src/sum_type.rs
Owners: none

move unique constraint checking until after optimistic insertion
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/relational_db.rs
  crates/sats/src/algebraic_value/de.rs
  crates/table/src/btree_index.rs
  crates/table/src/btree_index/multimap.rs
  crates/table/src/table.rs
  smoketests/tests/filtering.py
Owners: none

upgrade to 1.0.0-rc1
  demo/Blackholio/headless-client/Cargo.lock
  demo/Blackholio/headless-client/Cargo.toml
  demo/Blackholio/headless-client/module_bindings/circle_decay_reducer.rs
  demo/Blackholio/headless-client/module_bindings/create_player_reducer.rs
  demo/Blackholio/headless-client/module_bindings/identity_connected_reducer.rs
  demo/Blackholio/headless-client/module_bindings/identity_disconnected_reducer.rs
  demo/Blackholio/headless-client/module_bindings/init_reducer.rs
  demo/Blackholio/headless-client/module_bindings/mod.rs
  demo/Blackholio/headless-client/module_bindings/move_all_players_reducer.rs
  demo/Blackholio/headless-client/module_bindings/player_split_reducer.rs
  demo/Blackholio/headless-client/module_bindings/respawn_reducer.rs
  demo/Blackholio/headless-client/module_bindings/spawn_food_reducer.rs
  demo/Blackholio/headless-client/module_bindings/update_player_input_reducer.rs
Owners: none

Use client-generated QueryId
  crates/client-api-messages/src/websocket.rs
  crates/core/src/client/messages.rs
  crates/core/src/subscription/execution_unit.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/core/src/subscription/module_subscription_manager.rs
Owners: @centril, @gefjon

allocation pool the chunked iters in InstanceEnv
  crates/core/src/host/instance_env.rs
  crates/core/src/host/wasm_common.rs
  crates/core/src/host/wasmtime/wasm_instance_env.rs
Owners: none

Remove comment
  crates/core/src/error.rs
Owners: none

perf: query optimization rewrite rules
  crates/core/src/db/datastore/system_tables.rs
  crates/physical-plan/src/plan.rs
  crates/schema/src/def.rs
Owners: none

fix doc comments
  crates/physical-plan/src/plan.rs
Owners: none

fixes
  crates/core/src/db/datastore/system_tables.rs
  crates/physical-plan/src/plan.rs
  crates/schema/src/def.rs
Owners: none

qualify all vars
  crates/sql-parser/src/ast/mod.rs
  crates/sql-parser/src/ast/sql.rs
  crates/sql-parser/src/ast/sub.rs
  crates/sql-parser/src/parser/sql.rs
  crates/sql-parser/src/parser/sub.rs
Owners: none

refactor types
  Cargo.lock
  crates/core/src/sql/parser.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/expr/src/check.rs
  crates/expr/src/errors.rs
  crates/expr/src/expr.rs
  crates/expr/src/lib.rs
  crates/expr/src/statement.rs
  crates/expr/src/ty.rs
  crates/physical-plan/Cargo.toml
  crates/physical-plan/src/compile.rs
  crates/physical-plan/src/plan.rs
  crates/sql-parser/src/ast/mod.rs
  crates/sql-parser/src/ast/sql.rs
  crates/sql-parser/src/ast/sub.rs
  crates/sql-parser/src/parser/mod.rs
  crates/sql-parser/src/parser/sql.rs
  crates/sql-parser/src/parser/sub.rs
Owners: none

remove subqueries
  crates/expr/src/check.rs
  crates/expr/src/expr.rs
  crates/expr/src/statement.rs
  crates/physical-plan/src/compile.rs
  crates/sql-parser/src/ast/mod.rs
  crates/sql-parser/src/ast/sql.rs
  crates/sql-parser/src/ast/sub.rs
  crates/sql-parser/src/parser/mod.rs
  crates/sql-parser/src/parser/sql.rs
  crates/sql-parser/src/parser/sub.rs
Owners: none

address phoebe's review
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/table/src/btree_index.rs
  crates/table/src/btree_index/multimap.rs
Owners: none

move unique constraint checking until after optimistic insertion (#2037)
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/relational_db.rs
  crates/sats/src/algebraic_value/de.rs
  crates/table/src/btree_index.rs
  crates/table/src/btree_index/multimap.rs
  crates/table/src/table.rs
  smoketests/tests/filtering.py
Owners: none

[release/v1.0.0-rc1-hotfix4]: Migrate C# client-side reducer enum to the new syntax (#2033)
  .github/workflows/ci.yml
  crates/bindings-csharp/Runtime/Internal/Autogen/RawRowLevelSecurityDefV9.cs
  crates/bindings-csharp/Runtime/Internal/Autogen/RawUniqueConstraintDataV9.cs
  crates/bindings-csharp/Runtime/Internal/Autogen/Typespace.cs
  crates/cli/src/subcommands/generate/csharp.rs
  crates/cli/src/subcommands/generate/mod.rs
  crates/cli/tests/snapshots/codegen__codegen_csharp.snap
  smoketests/tests/namespaces.py
Owners: @bfops, @cloutiertyler

Regenerated the module bindings for the sdk tests
  crates/bindings-csharp/BSATN.Runtime/Builtins.cs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_type.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/mod.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/send_scheduled_message_reducer.rs
  modules/sdk-test-cs/Lib.cs
  modules/sdk-test/src/lib.rs
Owners: none

Fix declaration order of ScheduleAt in C# and add some tests to sdk-test[-cs]
  crates/bindings-csharp/BSATN.Runtime/Builtins.cs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_type.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/mod.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/send_scheduled_message_reducer.rs
  modules/sdk-test-cs/Lib.cs
  modules/sdk-test/src/lib.rs
Owners: none

Update to comply with new requirements
  modules/sdk-test/src/lib.rs
Owners: none

[release/v1.0.0-rc1-hotfix4]: Manually apply open PR #2007 @ 6b075f8: Fix declaration order of ScheduleAt in C#
  crates/bindings-csharp/BSATN.Runtime/Builtins.cs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_type.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/mod.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/send_scheduled_message_reducer.rs
  modules/sdk-test-cs/Lib.cs
  modules/sdk-test/src/lib.rs
Owners: none

commitlog: Provide `segment_len` method for segments
  crates/commitlog/src/repo/fs.rs
  crates/commitlog/src/repo/mem.rs
  crates/commitlog/src/repo/mod.rs
  crates/commitlog/src/tests/partial.rs
Owners: none

Ignore RLS steps
  crates/schema/tests/ensure_same_schema.rs
Owners: none

Fixups
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#FFI.verified.cs
  crates/bindings-csharp/Codegen.Tests/fixtures/server/snapshots/Module#FFI.verified.cs
  crates/schema/tests/ensure_same_schema.rs
Owners: none

cargo fmt
  crates/schema/tests/ensure_same_schema.rs
Owners: none

Bump to Rust 1.83
  .github/workflows/benchmarks.yml
  Cargo.toml
  crates/bench/Dockerfile
  crates/standalone/Dockerfile
  rust-toolchain.toml
Owners: @cloutiertyler

Update ui tests
  crates/bindings/src/rt.rs
  crates/bindings/tests/ui/reducers.stderr
  crates/bindings/tests/ui/tables.stderr
Owners: none

Split Iter & IterByColRange types into Tx and MutTxId versions
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
Owners: none

Allocation pool the chunked iters in `InstanceEnv` (#2038)
  crates/core/src/host/instance_env.rs
  crates/core/src/host/wasm_common.rs
  crates/core/src/host/wasmtime/wasm_instance_env.rs
Owners: none

wip split binaries
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/lib.rs
  crates/cli/src/main.rs
  crates/cli/src/start.rs
  crates/cli/src/subcommands/server.rs
  crates/cli/src/subcommands/subscribe.rs
  crates/client-api-messages/src/websocket.rs
  crates/client-api/src/routes/subscribe.rs
  crates/core/src/db/relational_db.rs
  crates/paths/Cargo.toml
  crates/paths/src/cli.rs
  crates/paths/src/lib.rs
  crates/paths/src/utils.rs
  crates/standalone/Cargo.toml
  crates/standalone/src/lib.rs
  crates/standalone/src/subcommands/start.rs
  crates/testing/src/lib.rs
  crates/testing/src/sdk.rs
  crates/update/Cargo.toml
  crates/update/src/main.rs
  crates/update/src/proxy.rs
  smoketests/__init__.py
Owners: @bfops, @cloutiertyler, @centril, @gefjon

remove yielded pointers tracking, it's unused
  crates/core/src/vm.rs
  crates/table/src/btree_index.rs
  crates/table/src/table.rs
Owners: none

don't use multimap for unique indices & correctness fix for create_index
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/table/benches/page_manager.rs
  crates/table/src/btree_index.rs
  crates/table/src/btree_index/multimap.rs
  crates/table/src/btree_index/uniquemap.rs
  crates/table/src/table.rs
Owners: none

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler
/crates/cli/src/subcommands/generate/ # No owners
/crates/cli/src/subcommands/generate/mod.rs @bfops @cloutiertyler # These codeowners should be the same as the "root" CLI codeowners
