Repository clockworklabs/SpacetimeDB, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloutiertyler, @centril, @gefjon, @bfops

.github/CODEOWNERS:

/crates/core/src/db/datastore/traits.rs @cloutiertyler
/rust-toolchain.toml @cloutiertyler
/.github/CODEOWNERS @cloutiertyler
LICENSE.txt @cloutiertyler
/crates/client-api-messages/src/websocket.rs @centril @gefjon

/crates/cli/src/ @bfops @cloutiertyler
/crates/cli/src/subcommands/generate/ # No owners
/crates/cli/src/subcommands/generate/mod.rs @bfops @cloutiertyler # These codeowners should be the same as the "root" CLI codeowners

Avoid a multimap when the index is unique (#2044)
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/vm.rs
  crates/table/benches/page_manager.rs
  crates/table/src/btree_index.rs
  crates/table/src/btree_index/multimap.rs
  crates/table/src/btree_index/uniquemap.rs
  crates/table/src/table.rs
Owners: none

Fixed weird compile bug
  modules/sdk-test/src/lib.rs
Owners: none

Fix declaration order of ScheduleAt in C# (#2007)
  crates/bindings-csharp/BSATN.Runtime/Builtins.cs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_type.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/mod.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/send_scheduled_message_reducer.rs
  modules/sdk-test-cs/Lib.cs
  modules/sdk-test/src/lib.rs
Owners: none

commitlog: Provide `segment_len` method for segments (#2042)
  crates/commitlog/src/repo/fs.rs
  crates/commitlog/src/repo/mem.rs
  crates/commitlog/src/repo/mod.rs
  crates/commitlog/src/tests/partial.rs
Owners: none

Enforce .NET 8 SDK for new C# modules
  crates/cli/src/subcommands/init.rs
  crates/cli/src/tasks/csharp.rs
  modules/global.json
Owners: @bfops, @cloutiertyler

Revert irrelevant change
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/ExtraCompilationErrors.verified.txt
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#FFI.verified.cs
  crates/bindings-csharp/Codegen/Module.cs
Owners: none

Revert one more irrelevant change
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/ExtraCompilationErrors.verified.txt
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#FFI.verified.cs
  crates/bindings-csharp/Codegen/Module.cs
Owners: none

Reduce noisy errors
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/ExtraCompilationErrors.verified.txt
  crates/bindings-csharp/Codegen.Tests/fixtures/diag/snapshots/Module#FFI.verified.cs
  crates/bindings-csharp/Codegen/Module.cs
Owners: none

Start working on rust documentation update.
  crates/bindings-macro/src/lib.rs
  crates/bindings/src/lib.rs
Owners: none

More docs
  crates/bindings-macro/src/lib.rs
  crates/bindings/src/table.rs
Owners: none

One more patch
  crates/bindings-macro/src/lib.rs
Owners: none

add temporary write_row_to_pages_bsatn that does BSATN -> PV -> BFLATN
  crates/table/src/bflatn_to.rs
  crates/table/src/layout.rs
Owners: none

extract `Table::insert_into_pointer_map`
  crates/table/src/table.rs
Owners: none

Fix some places where trying to parse an empty string could panic.
  crates/sql-parser/src/parser/errors.rs
  crates/sql-parser/src/parser/sql.rs
  crates/sql-parser/src/parser/sub.rs
Owners: none

Fix some places where trying to parse an empty string could panic. (#2051)
  crates/sql-parser/src/parser/errors.rs
  crates/sql-parser/src/parser/sql.rs
  crates/sql-parser/src/parser/sub.rs
Owners: none

Don't autogen schedule fields (#1894)
  crates/bindings-macro/src/lib.rs
  crates/bindings-macro/src/table.rs
  crates/bindings-macro/src/util.rs
  crates/bindings/src/table.rs
  crates/bindings/tests/ui/reducers.rs
  crates/bindings/tests/ui/reducers.stderr
  crates/cli/tests/snapshots/codegen__codegen_csharp.snap
  crates/cli/tests/snapshots/codegen__codegen_rust.snap
  crates/cli/tests/snapshots/codegen__codegen_typescript.snap
  modules/rust-wasm-test/src/lib.rs
  smoketests/tests/modules.py
  smoketests/tests/schedule_reducer.py
Owners: none

Fix declaration order of ScheduleAt in C# (#2007)
  crates/bindings-csharp/BSATN.Runtime/Builtins.cs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_2_type.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/indexed_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/mod.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_table.rs
  crates/sdk/tests/test-client/src/module_bindings/scheduled_table_type.rs
  crates/sdk/tests/test-client/src/module_bindings/send_scheduled_message_reducer.rs
  modules/sdk-test-cs/Lib.cs
  modules/sdk-test/src/lib.rs
Owners: none

Point CI to the same global.json
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
Owners: none

Print some logs
  crates/cli/src/tasks/csharp.rs
Owners: @bfops, @cloutiertyler

Try to install wasi-experimental manually
  .github/workflows/benchmarks.yml
Owners: none

try to uninstall wasi-experimental
  crates/cli/src/tasks/csharp.rs
Owners: @bfops, @cloutiertyler

Tweak scheduled_at macro syntax
  crates/bindings-macro/src/lib.rs
  crates/bindings-macro/src/table.rs
  crates/bindings/tests/ui/reducers.rs
  crates/bindings/tests/ui/reducers.stderr
  modules/rust-wasm-test/src/lib.rs
  modules/sdk-test/src/lib.rs
  smoketests/tests/modules.py
  smoketests/tests/schedule_reducer.py
Owners: none

Bump to Rust 1.83
  .github/workflows/benchmarks.yml
  Cargo.toml
  crates/bench/Dockerfile
  crates/standalone/Dockerfile
  rust-toolchain.toml
Owners: @cloutiertyler

Update ui tests
  crates/bindings/src/rt.rs
  crates/bindings/tests/ui/reducers.stderr
  crates/bindings/tests/ui/tables.stderr
Owners: none

Address review comments
  crates/bindings-csharp/Codegen/Module.cs
  crates/sats/src/lib.rs
Owners: none

Migrate C# and Unity tests to the new API (#194)
  .github/workflows/unity-test.yml
  .github/workflows/unity-testsuite-bindings.yml
  examples~/quickstart/client/client.csproj
  examples~/quickstart/client/module_bindings/SendMessageReducer.cs
  examples~/quickstart/client/module_bindings/SetNameReducer.cs
  examples~/quickstart/client/module_bindings/_Globals/SpacetimeDBClient.cs
  src/SpacetimeDBClient.cs
  tests~/SnapshotTests.VerifyAllTablesParsed.verified.txt
  tests~/SnapshotTests.cs
  tests~/VerifyInit.cs
Owners: none

Migrate C# and Unity tests to the new API (#194)
  sdks/csharp/.github/workflows/unity-test.yml
  sdks/csharp/.github/workflows/unity-testsuite-bindings.yml
  sdks/csharp/examples~/quickstart/client/client.csproj
  sdks/csharp/examples~/quickstart/client/module_bindings/SendMessageReducer.cs
  sdks/csharp/examples~/quickstart/client/module_bindings/SetNameReducer.cs
  sdks/csharp/examples~/quickstart/client/module_bindings/_Globals/SpacetimeDBClient.cs
  sdks/csharp/src/SpacetimeDBClient.cs
  sdks/csharp/tests~/SnapshotTests.VerifyAllTablesParsed.verified.txt
  sdks/csharp/tests~/SnapshotTests.cs
  sdks/csharp/tests~/VerifyInit.cs
Owners: none

upgrade to 1.0.0-rc1
  demo/Blackholio/client/Assets/Scripts/GameManager.cs
  demo/Blackholio/client/Assets/Scripts/autogen/_Globals/SpacetimeDBClient.cs
  demo/Blackholio/client/Packages/manifest.json
  demo/Blackholio/client/Packages/packages-lock.json
  demo/Blackholio/server/Cargo.toml
Owners: none

fixed compilation errors
  demo/Blackholio/client/Assets/PlayModeTests/PlayModeExampleTest.cs
  demo/Blackholio/client/Assets/Scripts/GameManager.cs
Owners: none

Fix spacetime server clear
  crates/cli/src/lib.rs
  crates/cli/src/subcommands/server.rs
  crates/standalone/src/subcommands/start.rs
Owners: @bfops, @cloutiertyler

Upgrade to 1.0.0-rc1 (#9)
  demo/Blackholio/client/Assets/PlayModeTests/PlayModeExampleTest.cs
  demo/Blackholio/client/Assets/Scripts/GameManager.cs
  demo/Blackholio/client/Assets/Scripts/autogen/_Globals/SpacetimeDBClient.cs
  demo/Blackholio/client/Packages/manifest.json
  demo/Blackholio/client/Packages/packages-lock.json
  demo/Blackholio/server/Cargo.toml
Owners: none

Adjust help text
  crates/cli/src/subcommands/server.rs
Owners: @bfops, @cloutiertyler

Fix spacetime server clear (#2055)
  crates/cli/src/lib.rs
  crates/cli/src/subcommands/server.rs
  crates/standalone/src/subcommands/start.rs
Owners: @bfops, @cloutiertyler

query rewriter
  Cargo.lock
  crates/core/src/sql/parser.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/expr/src/check.rs
  crates/expr/src/errors.rs
  crates/expr/src/expr.rs
  crates/expr/src/lib.rs
  crates/expr/src/statement.rs
  crates/expr/src/ty.rs
  crates/physical-plan/Cargo.toml
  crates/physical-plan/src/compile.rs
  crates/physical-plan/src/plan.rs
  crates/schema/src/schema.rs
  crates/sql-parser/src/ast/mod.rs
  crates/sql-parser/src/ast/sql.rs
  crates/sql-parser/src/ast/sub.rs
  crates/sql-parser/src/parser/mod.rs
  crates/sql-parser/src/parser/sql.rs
  crates/sql-parser/src/parser/sub.rs
Owners: none

query rewriter (#2031)
  Cargo.lock
  crates/core/src/sql/parser.rs
  crates/core/src/subscription/module_subscription_actor.rs
  crates/expr/src/check.rs
  crates/expr/src/errors.rs
  crates/expr/src/expr.rs
  crates/expr/src/lib.rs
  crates/expr/src/statement.rs
  crates/expr/src/ty.rs
  crates/physical-plan/Cargo.toml
  crates/physical-plan/src/compile.rs
  crates/physical-plan/src/plan.rs
  crates/schema/src/schema.rs
  crates/sql-parser/src/ast/mod.rs
  crates/sql-parser/src/ast/sql.rs
  crates/sql-parser/src/ast/sub.rs
  crates/sql-parser/src/parser/mod.rs
  crates/sql-parser/src/parser/sql.rs
  crates/sql-parser/src/parser/sub.rs
Owners: none

More tests!
  demo/Blackholio/client/Assets/PlayModeTests/PlayModeExampleTest.cs
Owners: none

Fix scheduled tables
  demo/Blackholio/server/src/lib.rs
Owners: none

Regenerate and fix paths
  demo/Blackholio/client/Assets/PlayModeTests/PlayModeExampleTest.cs
  demo/Blackholio/client/Assets/Scripts/autogen/CircleDecayReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/CircleDecayReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/CreatePlayerReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/CreatePlayerReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/Food.cs
  demo/Blackholio/client/Assets/Scripts/autogen/MoveAllPlayersReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/MoveAllPlayersReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/PlayerSplitReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/PlayerSplitReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/RespawnReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/RespawnReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/SpawnFoodReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/SpawnFoodReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/UpdatePlayerInputReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/UpdatePlayerInputReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/_Globals/SpacetimeDBClient.cs
  demo/Blackholio/client/Packages/packages-lock.json
Owners: none

Fix scheduled tables (#8)
  demo/Blackholio/client/Assets/PlayModeTests/PlayModeExampleTest.cs
  demo/Blackholio/client/Assets/Scripts/autogen/CircleDecayReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/CircleDecayReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/CreatePlayerReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/CreatePlayerReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/Food.cs
  demo/Blackholio/client/Assets/Scripts/autogen/MoveAllPlayersReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/MoveAllPlayersReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/PlayerSplitReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/PlayerSplitReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/RespawnReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/RespawnReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/SpawnFoodReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/SpawnFoodReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/UpdatePlayerInputReducer.cs
  demo/Blackholio/client/Assets/Scripts/autogen/UpdatePlayerInputReducer.cs.meta
  demo/Blackholio/client/Assets/Scripts/autogen/_Globals/SpacetimeDBClient.cs
  demo/Blackholio/client/Packages/packages-lock.json
  demo/Blackholio/server/src/lib.rs
Owners: none

Refactor for full split
  crates/core/src/db/datastore/locking_tx_datastore/committed_state.rs
  crates/core/src/db/datastore/locking_tx_datastore/datastore.rs
  crates/core/src/db/datastore/locking_tx_datastore/mod.rs
  crates/core/src/db/datastore/locking_tx_datastore/mut_tx.rs
  crates/core/src/db/datastore/locking_tx_datastore/state_view.rs
  crates/core/src/db/datastore/locking_tx_datastore/tx.rs
  crates/core/src/db/datastore/traits.rs
  crates/core/src/db/relational_db.rs
  crates/core/src/vm.rs
  crates/vm/src/eval.rs
Owners: @cloutiertyler
